

#uncontrolled-tab-example-tab-general {
    padding-left: 10px;
    padding-right: 10px;
}
#uncontrolled-tab-example-tab-contenido {
    padding-left: 10px;
    padding-right: 10px;
}
#uncontrolled-tab-example-tab-logistica {
    padding-left: 10px;
    padding-right: 10px;
}
#uncontrolled-tab-example-tab-finanzas {
    padding-left: 10px;
    padding-right: 10px;
}